body {
    font-family: "Helvetica Neue","Microsoft jHenghei" "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
    font-size: 13px;
    background-size: 100%;
    background: url(http://interfacelift.com/wallpaper/D47cd523/03255_lonerock_1280x1024.jpg);
}

.album {
    font-style: italic;
    border-radius: 4px;
}

.album .artist-name {
    font-style: normal;
    font-weight: lighter;
    color: #999;
}

.album button.queue {
}

.playlist {
    color: #eee;
    border-radius: 4px;
    background-color: rgba(138, 189, 236, 0.90);
    box-shadow: 0 0 35px #333;
}

.playlist button.control {
}

.playlist button.play {
}

.playlist button.play:hover {
}

.playlist button.pause {
}

.playlist button.pause:hover {
}

.playlist button.prev {
}

.playlist button.prev:hover {
}

.playlist button.next {
}

.playlist button.next:hover {
}

.playlist .album .queue.add {
}

.playlist .album.current {
    background-color: rgba(82, 100, 104, 0.75);
}

.playlist .album.current .tracks .current {
    background-color: rgba(56, 62, 63, 0.75);
    border-radius: 4px;
    font-weight: bold;
}

.playlist .album .tracks li {
    font-style: normal;
    padding: .3em;
}

.library li{
    cursor: pointer;
}

.library .album .queue.remove {
}

.library .album .tracks {
}

/* vim:set sw=4:ts=4:expandtab */
