html, body {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

#container {
    height: auto;
    min-height: 100%;

}

.albums {
    list-style: none;
    padding: 0 2%;
    overflow: hidden;
}
.playlist .albums{
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
}
.playlist .album{
    width: 100%;
    padding: 1em 2em;
}
.album {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0em 2em;
    float: left;
}

.track {
  cursor: pointer;
}

.album .tracks {
    margin: 0;
    padding: .5em 0 0 1.5em;
}

.album button.queue {
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

.album .queue.add {
    background-image: url('../images/add.png');
}

.album .queue.remove {
    background-image: url('../images/remove.png');
}

.album-title {
    margin-right: 10px;
}

.playlist {
    position: absolute;
    padding: 20px;
    left: 30%;
    right: 30%;
    top: 20%;
}

nav {
    width: 180px;
    margin: auto;
    padding: 0;
}

nav button.control {
    text-indent: -9999px;
    width: 55px;
    height: 50px;
    border: 0;
    padding: 10px;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

nav button.play {
    background: url('../images/control_play.png') center no-repeat;
}

nav button.play:hover {
    background: url('../images/control_play_hover.png') center no-repeat;
}

nav button.pause {
    background: url('../images/control_pause.png') center no-repeat;
}

nav button.pause:hover {
    background: url('../images/control_pause_hover.png') center no-repeat;
}

nav button.prev {
    background: url('../images/control_start.png') center no-repeat;
}

nav button.prev:hover {
    background: url('../images/control_start_hover.png') center no-repeat;
}

nav button.next {
    background: url('../images/control_end.png') center no-repeat;
}

nav button.next:hover {
    background: url('../images/control_end_hover.png') center no-repeat;
}

.library {
	position: fixed;
    bottom: 0;
    background: rgba(55,55,55,0.7);
    width: 89%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    opacity: 0.8;
}
::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal, ::-webkit-scrollbar-thumb:vertical {
    width: 5px;
    background-color: #888;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal:hover, ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #777;
}